:root {
    --theme-color: rgb(220, 58, 49);
    --theme-color-80: rgba(220, 58, 49, .8);
    --theme-color-60: rgba(220, 58, 49, .6);
    --theme-color-40: rgba(220, 58, 49, .4);
    --theme-color-20: rgba(220, 58, 49, .2);
    --bg-color-light: rgb(242, 242, 247);
    --bg-color-dark: rgb(18, 18, 18);
    --main-nav-color-light: rgba(255, 255, 255, .4);
    --main-nav-color-dark: rgba(0, 0, 0, .4);
    --font-color-light: rgba(0, 0, 0, 1);
    --font-color-dark: rgba(255, 255, 255, 1);
    --font-color-light-80: rgba(0, 0, 0, .8);
    --font-color-light-60: rgba(0, 0, 0, .6);
    --font-color-dark-80: rgba(255, 255, 255, .8);
    --font-color-dark-60: rgba(255, 255, 255, .6);
    --blur-medium: 0.5rem;
    --radius: 0.65rem;

    /* 颜色黑 */
    --color-black-80: rgba(0, 0, 0, .8);
    --color-black-60: rgba(0, 0, 0, .6);
    --color-black-40: rgba(0, 0, 0, .4);
    --color-black-20: rgba(0, 0, 0, .2);
    --color-black-10: rgba(0, 0, 0, .1);
    --color-black-1: rgba(0, 0, 0, .01);
    /* 颜色白 */
    --color-white-80: rgba(255, 255, 255, .8);
    --color-white-60: rgba(255, 255, 255, .6);
    --color-white-40: rgba(255, 255, 255, .4);
    --color-white-20: rgba(255, 255, 255, .2);
    --color-white-10: rgba(255, 255, 255, .1);
    --color-white-1: rgba(255, 255, 255, .01);
}